.container-dash {
  background-color: white;
  color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
}

.me-container,
.cv-container {
  flex: 1;
  max-width: 50%;
  padding: 1em;
}

.dash-img img {
  width: 20%;
  border-radius: 50%;
  margin: 1em;
}

.tech-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.tech-container p {
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5rem;
  background-color: rgb(230, 230, 230);
}

.cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgb(100, 100, 100);
}

.about-me-text {
  text-align: left;
}

.cv-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 10em;
  padding: 0.4em;
}