.contact-container {
  display: flex;
  background-color: white;
  padding: 2em;
  margin-top: 2em;
}

.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 40%;
  margin: 1em;
}

.contact-form {
  margin: 2em;
  width: 60%;
 
}

.form-btn {
  background-color: black;
  color: white;
}

.direct-contact {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 3em;
  
}

.direct-contact Button {
  display: flex;
  align-items: center;
}