.container-dash {
  background-color: white;
  color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
}

img {
  width: 10%;
  border-radius: 50%;
}

.tech-container{
  display: flex;
  justify-content: center;
  
}
.tech-container p{
  border-radius: 10px; 
  border:  grey; 
  padding: 0.5em;
  margin: 0.5rem;
  background-color: rgb(230, 230, 230);
  
};
